/* KEITH STUFF - need to refactor */
#map-canvas {
   width: 450px;
   height: 350px;
   position: relative;
}
#map-static {
   width: 450px;
   height: 350px;
}
#map-controls {
   position: absolute;
   width: 100%;
   height: 100%;
   pointer-events: none;
}
div.map-marker {
   position: absolute;
   width: 27px;
   height: 45px;
   cursor:pointer;
   z-index: 100;
}
div.map-marker span {
   position: absolute !important;
   height: 1px;
   width: 1px;
   overflow: hidden;
   /* Clipping hides the single-pixel object from view */
   clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
   clip: rect(1px, 1px, 1px, 1px);
}
div.map-marker:hover,
div.map-marker:focus {
   margin: -2px 0 0 -2px;
   border: 2px solid #0f0;
}
div#pan-base {
   width:94px;
   height:94px;
   margin: 10px;
}
div#zoom-base {
   width:36px;
   height:94px;
   bottom: 10px;
   right: 10px;
   position: absolute;
}
.accessible_button_wrapper {
    padding: 0;
    width: 29px;
    height: 29px;
    position: absolute;
    background-color: white;
    border-radius: 2px;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
	pointer-events: all;
}
.map-bn {
	cursor:pointer;
	text-indent:-10000em;
	border: none;
	width: 100%;
	height: 100%;
}
.accessible_button_wrapper.pan-up {
	top: 10px;
	left: 44px;
}
button#pan-up {
	background: url('icons/ic_keyboard_arrow_up_black_24px.svg') no-repeat 0px 0px/100% 100%;
}
.accessible_button_wrapper.pan-lt {
	top: 44px;
	left: 10px;
}
button#pan-lt {
	background: url('icons/ic_keyboard_arrow_left_black_24px.svg') no-repeat 0px 0px/100% 100%;
}
.accessible_button_wrapper.pan-ctr {
   top: 44px;
   left: 44px;
}
button#pan-ctr {
	background: url('icons/ic_all_out_black_24px.svg') no-repeat 0px 0px/100% 100%;
}
.accessible_button_wrapper.pan-rt {
	top: 44px;
	left: 79px;
}
button#pan-rt {
	background: url('icons/ic_keyboard_arrow_right_black_24px.svg') no-repeat 0px 0px/100% 100%;
}
.accessible_button_wrapper.pan-dn {
	top: 79px;
	left: 44px;
}
button#pan-dn {
	background: url('icons/ic_keyboard_arrow_down_black_24px.svg') no-repeat 0px 0px/100% 100%;
}
.accessible_button_wrapper.zoom-in {
	top: 6px;
	left: 6px;
}
button#zoom-in {
	background: url('icons/ic_add_black_24px.svg') no-repeat 0px 0px/100% 100%;
}
.accessible_button_wrapper.zoom-out {
	top: 64px;
	left: 6px;
}
button#zoom-out {
	background: url('icons/ic_remove_black_24px.svg') no-repeat 0px 0px/100% 100%;
}
button#pan-up:hover,
button#pan-up:focus,
button#pan-lt:hover,
button#pan-lt:focus,
button#pan-ctr:hover,
button#pan-ctr:focus,
button#pan-rt:hover,
button#pan-rt:focus,
button#pan-dn:hover,
button#pan-dn:focus,
button#zoom-in:hover,
button#zoom-in:focus,
button#zoom-out:hover,
button#zoom-out:focus,
span.accessibilityInfoClose:hover,
span.accessibilityInfoClose:focus {
   background-color: #0f0;
}
.gm-style-iw {
	z-index: 200;
}
span.accessibilityInfoClose {
    background: url('icons/ic_close_black_24px.svg') no-repeat 0px 0px/100% 100%;
	width: 100%;
	height: 100%;
	text-indent:-10000em;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 22px;
	height: 22px;
}